<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.type.watch" android:required="true" />

    <application
        android:allowBackup="false"
        android:label="SESAME Phase 3"
        android:theme="@android:style/Theme.DeviceDefault">
        <meta-data android:name="com.google.android.wearable.standalone" android:value="false" />

        <activity
            android:name=".WearMainActivity"
            android:exported="true"
            android:label="玄関">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".WearDataLayerListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data android:scheme="wear" android:host="*" android:pathPrefix="/sesame/phase3" />
            </intent-filter>
        </service>

        <service
            android:name=".EntranceTileService"
            android:exported="true"
            android:label="玄関"
            android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER">
            <intent-filter>
                <action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" />
            </intent-filter>
        </service>
    </application>
</manifest>
